.lista_padrao_widgetsociais{position: relative;}
.lista_padrao_widgetsociais .ul{
	position: relative;
	list-style: none;
	padding-left: 0;
}
.lista_padrao_widgetsociais img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.lista_padrao_widgetsociais .ul{margin-top: -5px;}

.lista_padrao_widgetsociais .ul .li{
	position: relative;
	float: left;
	width: 25%;
	padding: 0 2.5px;
	padding-top: 5px;
}
.lista_padrao_widgetsociais .ul .li a{
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	float: left;
}

.lista_padrao_widgetsociais.horizontal_6 .ul .li{width: 16.666666%;}
.lista_padrao_widgetsociais.horizontal_5 .ul .li{width: 20%;}
.lista_padrao_widgetsociais.horizontal_3 .ul .li{width: 33.333333%;}
.lista_padrao_widgetsociais.horizontal_2 .ul .li{width: 50%;}